.form {
  width: 250px;
  display: inline-block;
  height: 200px;
}

.message-result {
  width: 85%;
  margin: auto;
  font-size: 29.5px;
  margin-top: 20px;
  text-align: center;
  color: yellowgreen;
}

@media screen and (min-width: 481px) and (max-width: 2000px) {
  .form {
    height: 220px;
  }

  .message-result {
    font-size: 25.5px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .form {
    height: 190px;
  }

  .message-result {
    font-size: 19.5px;
    height: 70px;
  }
}
